<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ styleguide.title }} | {{ styleguide.description }}</title>
    <link rel="stylesheet" href="{{ styleguide.stylesheetPath }}">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="styleguide">
    <div class="styleguide--container row">
        <main class="styleguide--content col-md-18">
            {% for component in styleguide.components %}
                <div class="styleguide--component">
                    {{ component.content|safe }}
                </div>
            {% endfor %}
        </main>
        <aside class="styleguide--sidebar col-md-4 col-offset-md-2">
            <a href="#" id="logo"><img src="http://schoolturnaroundsupport.org/sites/all/themes/c3_stlc/logo.png" width="250px" /></a>
            <h4>Components</h4>
            <ul>
                {% for component in styleguide.components %}
                <li>
                    <a href="#{{component.name}}">{{component.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </aside>
    </div>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>
