<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }} | {{ description }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="./assets/stylesheets/style.css">
  <link rel="stylesheet" href="{{ stylesheet }}">
</head>
<body>
    <div class="styleguide container">
      <aside class="styleguide__sidebar">
        {% for section in sections %}
        <h4 class="panel-title">{{ section.title }}</h4>
        <ul>
          {% for file in section.files %}
          <li>
              <a href="#{{file.attributes.name}}">{{file.attributes.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </aside>
      <main class="styleguide__content">
        {% for section in sections %}
        <h1 id="{{ section.name }}">{{ section.title }}</h1>
        {% for file in section.files %}
        <div class="styleguide__component">
            {{ file.content|safe }}
        </div>
        {% endfor %}
        {% endfor %}
      </main>
    </div>

    <!-- Javascripts -->
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="./assets/javascripts/script.min.js"></script>
</body>
</html>
